@model ShopLogin.Models.Customer

@{
    ViewBag.Title = "Baskets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Twój koszyk</h2>
<br />
@if (!Model.Baskets.Any())
{
    <p>Twój koszyk jest pusty.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basket in Model.Baskets)
            {
                <tr>
                    <td>@basket.Product.Name</td>
                    <td>@basket.AmountInBasket</td>
                    <td>@Html.ActionLink("Usuń", "deletos", "Baskets", new { productId = basket.ProductId }, null)</td>

                </tr>
            }

        </tbody>

    </table>
    <br />
    <h4>Wartość koszyka: @Model.BasketValue zł</h4>
    <br />
    int someVal = 0;
    if (Model.BasketValue != null)
    {
        someVal = (int)Model.BasketValue;
    }
    <p>@Html.ActionLink("Kup i zapłać", "PayForBasket", "Baskets", new { somVal = someVal }, new { @class = "btn btn-warning btn-lg", style = "width:200px; text-align:center" })</p>

}
