@model ShopLogin.Models.Customer

@{
    ViewBag.Title = "Baskets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twój koszyk</h2>
@if (!Model.Baskets.Any())
{
    <p>Twój koszyk jest pusty.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Ilość</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basket in Model.Baskets)
            {
            <tr>
                <td>@basket.Product.Name</td>
                <td>@basket.AmountInBasket</td>
                <td>@Html.ActionLink("Usuń", "deletos", "Baskets", new { productId = basket.ProductId }, null)</td>
               
            </tr>
            }

        </tbody>

    </table>
    <p>Wartość koszyka: @Model.BasketValue złotych.</p>
    int someVal = 0;
    if (Model.BasketValue != null)
    {
        someVal = (int) Model.BasketValue;
    }
    <p>@Html.ActionLink("Zapłać", "PayForBasket", "Baskets", new { somVal = someVal }, null)</p>

}
