@model ShopLogin.Models.Product

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h1>@Model.ProducerName @Model.Name</h1>
<br />
<br />
<table style="margin-left:200px">
    <tr>
        <td style="padding-top:120px">
            <h1><span>@Model.Price zł</span></h1>

            @if (@Model.AmountInStore != 0)
            {

                <h4><span style="color:limegreen">Dostępne!</span></h4>
                <br />
                <br />
                <br />
                @Html.ActionLink("Dodaj do koszyka", "AddToBasket", "Baskets", new { productId = Model.Id }, new { @class = "btn btn-warning btn-lg", style = "width:200px; text-align:center" })
            }
            else
            {
                <h4><span style="color:red">Dostępne!</span></h4>
                <br />
            }
        </td>
        <td>

            <img src="@Url.Content("~/Content/"+@Model.PictureId)" style="max-height:350px; padding-left:100px">
        </td>


    </tr>



</table>
<br />
<br />
<h2>Szczegóły</h2>
<br />

<table class="table table-bordered ">

    <tbody>
        @if (@Model.Category.FieldName1 != null)
        {
            <tr>
                <td>@Model.Category.FieldName1</td>
                <td>@Model.FieldValue1</td>
            </tr>
        }

        @if (@Model.Category.FieldName2 != null)
        {
            <tr>
                <td>@Model.Category.FieldName2</td>
                <td>@Model.FieldValue2</td>
            </tr>
        }

        @if (@Model.Category.FieldName3 != null)
        {
            <tr>
                <td>@Model.Category.FieldName3</td>
                <td>@Model.FieldValue3</td>
            </tr>
        }

        @if (@Model.Category.FieldName4 != null)
        {
            <tr>
                <td>@Model.Category.FieldName4</td>
                <td>@Model.FieldValue4</td>
            </tr>
        }

        @if (@Model.Category.FieldName5 != null)
        {
            <tr>
                <td>@Model.Category.FieldName5</td>
                <td>@Model.FieldValue5</td>
            </tr>
        }

        @if (@Model.Category.FieldName6 != null)
        {
            <tr>
                <td>@Model.Category.FieldName6</td>
                <td>@Model.FieldValue6</td>
            </tr>
        }

        @if (@Model.Category.FieldName7 != null)
        {
            <tr>
                <td>@Model.Category.FieldName7</td>
                <td>@Model.FieldValue7</td>
            </tr>
        }

        @if (@Model.Category.FieldName8 != null)
        {
            <tr>
                <td>@Model.Category.FieldName8</td>
                <td>@Model.FieldValue8</td>
            </tr>
        }
    </tbody>

</table>

